@WL_BG: #F5F8F9;
@WL_COL: #2976ED;
@WL_THEME: rgba(42, 117, 237, 1);
@WL_THEME_BOLD: rgba(45, 99, 220, 1);
@pink: #F95D5D;
@pink_bold: rgba(234, 87, 87, 1);
@pink_200: #FDBEBE;
@orange_200: #FFCD7A;
@error_col: #F5222D;

// grey
@grey_700: rgba(0, 0, 0, 0.85);
@grey_600: rgba(0, 0, 0, 0.85);
@grey_500: rgba(0, 0, 0, 0.65);
@grey_400: rgba(0, 0, 0, 0.45);
@grey_300: rgba(0, 0, 0, 0.45);
@grey_200: rgba(0, 0, 0, 0.25);
@grey_100: rgba(0, 0, 0, 0.25);
// 使用下方数值时,需参考该颜色使用的位置
@grey_50: #EDEDEE;
@grey_40: #F3F3F4;
@grey_45: #F7F5F5;
@grey_30: #F8F8F8;
// 次要按钮hover时的颜色
@lesser_btn_hover: rgba(241, 241, 241, 1);
// blue
@blue_500: #2E62DE;
@blue_400: #2A75ED;
@blue: #64B5F6;
@blue_200: #E2F2FD;
// other
@green_400: #1DB954;
@green: #43B244;
@white: #FFFFFF;
@black: #000000;

// 字体颜色
@font_title_col: rgba(0, 0, 0, 0.85);
// pc端正文颜色,主体正文字体
@font_content_col: rgba(0, 0, 0, 0.65);
// pc端正文副本颜色,颜色层级仅比正文第一层级,多用于主要文本的描述
@font_sub_content_col: rgba(0, 0, 0, 0.45);
// pc端字体层级最弱,多用于占位字体
@font_placeholder_col: rgba(0, 0, 0, 0.25);
// pc端置灰字体颜色
@font_disabled_col: rgba(0, 0, 0, 0.15);

// 字体大小
@font_giant_num: 40rpx;
// 大标题
@font_big_title: 20rpx;
// 以下比较常用
// 标准标题
@font_standard_title: 16rpx;
// 正文
@font_content: 14rpx;
// 说明
@font_sub_content: 12rpx;

// 状态的颜色
@wait_send: rgba(42, 117, 237, 1); // 待发送
@sending: rgba(29, 185, 84, 1); // 发送中
@send_ok: rgba(0, 0, 0, 0.5); // 已完成
@send_fail: rgba(245, 34, 45, 1); // 发送失败

// 字体权重
@font: 400;
@font_medium: 500;
@font_sembold: 700;
