@WL_BG: #F5F8F9;
@WL_COL: #2976ED;
@WL_THEME: rgba(42, 117, 237, 1);
@WL_THEME_BOLD: rgba(45, 99, 220, 1);

// 背景透明度
@grey_700: rgba(0, 0, 0, 0.85);
@grey_600: rgba(0, 0, 0, 0.85);
@grey_500: rgba(0, 0, 0, 0.65);
@grey_400: rgba(0, 0, 0, 0.45);
@grey_300: rgba(0, 0, 0, 0.45);
@grey_200: rgba(0, 0, 0, 0.25);
@grey_100: rgba(0, 0, 0, 0.25);

// 字体颜色
@font_title_col: rgba(0, 0, 0, 0.85);
// 正文颜色,主体正文字体
@font_content_col: rgba(0, 0, 0, 0.65);
// 正文副本颜色,颜色层级仅比正文第一层级,多用于主要文本的描述
@font_sub_content_col: rgba(0, 0, 0, 0.45);
// 字体层级最弱,多用于占位字体
@font_placeholder_col: rgba(0, 0, 0, 0.25);
// 置灰字体颜色
@font_disabled_col: rgba(0, 0, 0, 0.15);

// 字体大小
// 页面大标题
@font_light: 40rpx;
// 页面内大按钮字体
@font_medium: 36rpx;
// 页面内首要层级信息
// @font_regular_btn: 34rpx;
// 页面内首要层级信息
@font_regular_title: 32rpx;
// 页面内次要描述信息
@font_regular_describe: 28rpx;
// 页面辅助信息，需弱化的内容
@font_regular_assist: 26rpx;
// 说明文字，如版权信息等不需要用户关注的信息
@font_regular_explain: 22rpx;

// 状态的颜色
@state_remind: rgba(42, 117, 237, 1); // 提醒
@state_success: rgba(29, 185, 84, 1); // 成功
@state_ok: rgba(0, 0, 0, 0.5); // 完成
@state_warning: rgba(255, 164, 46, 1); // 警告
@state_fail: rgba(245, 34, 45, 1); // 失败

// 字体权重
@font: 400;
@font_medium: 500;
@font_sembold: 700;